<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }

        input[type="text"] {
            width: 60%;
            padding: 8px;
            margin: 10px 0;
            font-size: 16px;
        }

        input[type="submit"] {
            padding: 10px 20px;
            font-size: 16px;
            margin-top: 15px;
        }
    </style>
</head>
<body>

    <a href="/" style="color:white; text-decoration:none;">Back to Home</a>
    <br><br>

    <h1>Object Analysis Page</h1>
    <p>You can perform photometry on one object here.</p>

    <hr style="border: 0; border-top: 0.5px solid white;">


     <p style="font-size: 20px; text-align: center; margin: 20px 0;">Please input the Right Ascension and Declination of your Target Object:</p> 


    <form method="POST" enctype="multipart/form-data">

        <h2>Enter Target Coordinates</h2>

        <!-- Decimal input -->
        <label>RA (decimal degrees):</label><br>
        <input type="text" name="ra_decimal" placeholder="e.g. 198.36617"><br><br>

        <label>Dec (decimal degrees):</label><br>
        <input type="text" name="dec_decimal" placeholder="e.g. 36.586586"><br><br>

        <p>OR</p>

        <!-- Sexagesimal input -->
        <label>RA (HMS):</label><br>
        <input type="text" name="ra_hms" placeholder="e.g. 13h 14m 38.8s"><br><br>

        <label>Dec (DMS):</label><br>
        <input type="text" name="dec_dms" placeholder="e.g. +36° 35′ 11.7″"><br><br>

        <hr>

        <h2>Provide Sloan g and r Images</h2>

        <label>Enter Sloan g image path:</label><br>
        <input type="text" name="g_link_both"><br><br>

        <label>Enter Sloan r image path:</label><br>
        <input type="text" name="r_link_both"><br><br>

        <p>OR upload FITS files:</p>

        <label>Upload Sloan g FITS:</label>
        <input type="file" name="g_file" accept=".fits"><br><br>

        <label>Upload Sloan r FITS:</label>
        <input type="file" name="r_file" accept=".fits"><br><br>

        <button type="submit">Run Calibration</button>

    </form>



    




    <hr style="border: 0; border-top: 0.5px solid white;">

    <p style="font-size: 15px; color: white; margin: 10px 0;">
        <span style="font-weight: bold;">Progress of photometry:</span><br>
    </p>
    

    <div id="status-line" style="font-family: monospace; white-space: pre;"></div>

    <script>
    function pollStatus() {
        fetch("/status")
            .then(response => response.text())
            .then(text => {
                document.getElementById("status-line").textContent = text;
            });
    }

    // Update every 1 second
    setInterval(pollStatus, 700);
    </script>

    {% if g_text and r_text %}
        <div style="margin-top:20px;">
            <h3>You entered:</h3>
            Sloan g: {{ g_text }}<br>
            Sloan r: {{ r_text }}
        </div>
    {% endif %}

{% if standard_g_target is not none and standard_r_target is not none %}
    <div style="margin-top:20px;">
        <h3>Photometric Analysis Results</h3>

        Standard g Magnitude: {{ standard_g_target }}<br>
        Standard r Magnitude: {{ standard_r_target }}<br>
        Error in g: {{ error_g }}<br>
        Error in r: {{ error_r }}<br>

        <br>

        Accuracy of stars: <br>
        *NOTE* Tgr should be close to 1, and Cgr and Tg should be close to 0. 
        <br>

        Tgr (Color Term g–r): {{ Tgr }}<br>
        Cgr (Intercept g–r): {{ Cgr }}<br>
        Tg  (Green Zero‑Point Slope): {{ Tg }}<br>
        Cg  (Green Zero‑Point Intercept): {{ Cg }}<br>
        
        {% if color_term_path %}
            <div style="margin-top:30px;">
                <h3>Color Calibration Plot</h3>
                <img src="{{ url_for('static', filename=color_term_path.split('/')[-1]) }}"
                    style="width:500px; border:1px solid white; margin-top:10px;">
            </div>
        {% endif %}

        {% if green_offset_path %}
            <div style="margin-top:30px;">
                <h3>Green Offset Calibration Plot</h3>
                <img src="{{ url_for('static', filename=green_offset_path.split('/')[-1]) }}"
                    style="width:500px; border:1px solid white; margin-top:10px;">
            </div>
        {% endif %}


    </div>
{% endif %}





</body>
</html>
